{% extends 'base.html' %}
<!-- Header -->
{% block head %}
<h1>Popular News</h1>
{% endblock %}
<!-- End Header -->

<!-- Data View -->
{% block data_view %}
<div class="data_view">
    <ul>
        {% for title, data in popular_data.items() %}
        <li>
            <a href="{{ data[0] | safe }}">
                <img src="{{ data[1] | safe }}" alt="" style="margin: 12px; width: 220px" />
            </a>
            <span><h4 style="display: inline;"><a href="{{ data[0] | safe }}">{{ title | safe }}</a></span></h4>
        </li>
        {% endfor %}
    </ul>
</div>
<p>{{ popular_data }}</p>
{% endblock %}

<!-- End Data View -->
